.nav{
    grid-area: nav;
    background-color: rgb(171, 205, 120);
    width: 120px;
    }

.item {
    color: white;
    text-align: left;
    padding: 4px 2px;
    display: block; /* делает ссылки блочными элементами */
    text-decoration: none; /* убирает подчеркивание у ссылок */
} 

.item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* добавляет эффект при наведении */
}


.item svg {
    margin-right: 10px;
    color: #0d64c1;
}